@model IEnumerable<Categories>

@{
    ViewData["Title"] = "Categories";
}

<h1 class="text-center">Categories List</h1>
<br />
<br />
<div style="text-align: right">
<a asp-action="Create" class="btn btn-secondary mb-3">Create categorie</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th style="text-align: right">Actions</th>
    </tr>
  </thead>
  <tbody id="reordenable">
    @foreach (var categorie in Model) 
    {
    <tr>
      <td>@categorie.Name</td>
      <td>
        <div style="text-align: right">
          <input type="hidden" value="@categorie.Id" class="ids" />
          <a class="btn btn-seondary" asp-action="Modify" asp-route-id="@categorie.Id">Modify</a>
          <a class="btn btn-secondary"asp-action="Delete" asp-route-id="@categorie.Id">Delete</a
          >
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
