@model IEnumerable<Transactions>

@{
    ViewData["Title"] = "List Transactions";
}

<h1 class="text-center">Transactions List</h1>
<br />
<br />
<div style="text-align: right">
    <a asp-action="Create" class="btn btn-secondary mb-3">Create Transaction</a>
</div>

<table class="table table-info">
    <thead>
        <tr>
            <th>Transactions</th>
            <th style="text-align: right">Action</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var transaction in Model)
        {
            <tr>
                <td class="table-info">@transaction.Description</td>
                <td>
                    <div style="text-align: right">
                        <input type="hidden" value="@transaction.Id" class="ids" />
                        <a class="btn btn-secondary" asp-action="Modify" asp-route-id="@transaction.Id">Modify</a>
                        <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@transaction.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>