@model Users

@{
    ViewData["Title"] = "Delete User";
}

 <p class="mb-3 text-center text-break">
    <strong>¿Are you sure you want to delete the User with Email @Model.Email? </strong>
 </p>
<div class="container">
  <form asp-action="DeleteUser">
    <div class="mb-3 col text-center">
      <input type="hidden" asp-for="Id" />
      <button type="submit" class="btn btn-secondary">Delete</button>
      <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
  </form>
</div>