@model IEnumerable<OperationTypes>

@{
    ViewData["Title"] = "List Operation Types";
}

<h1 class="text-center">Operation Types List</h1>
<br />
<br />
<div style="text-align: right">
    <a asp-action="Create" class="btn btn-secondary mb-3">Create Operation Types</a>
</div>

<table class="table table-info">
    <thead>
        <tr>
            <th>Operation Types</th>
            <th style="text-align: right">Actions</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var operationTypes in Model)
        {
            <tr class="table-info">
                <td>@operationTypes.Description</td>

                <td>
                    <div style="text-align: right">
                        <input type="hidden" value="@operationTypes.Id" class="ids" />
                        <a class="btn btn-secondary" asp-action="Modify" asp-route-id="@operationTypes.Id">Modify</a>
                        <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@operationTypes.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
