@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="text-center" style="margin-top: 50px">
    <h1 class="display-4 strong">Welcome to Economic Management</h1>
  </div>
  <div style="margin-top: 70px" class="row d-flex align-items-center">
    <br />
    @*<div class="col-sm-12 p-5">
      <p style="text-align: center">
        Economic Management the app where you can take your finances in an organized way.
      </p>
    </div>*@
    <div class="row d-flex align-items-center my-3">
      <div class="col-sm-12 col-lg-6 p-5">
        <p class="h3 text-center mt-3">
          Let's talk a little about the Economic Management APP
        </p>
        <br />
        <p style="text-align: justify">
         Economic Management the app where you can manage your finances in an organized way, 
         has several functions that range from having your own user and keeping track of your finances ---- 
        </p>
      </div>
      <div class="col-sm-12 col-lg-6 p-5">
        <img src="~/img/img2.png" width="100%" />
      </div>
      <div class="row d-flex align-items-center my-3">
        <div class="col-sm-12 col-lg-6 p-5">
          <img src="~/img/img3.png" width="100%" />
        </div>
        <div class="col-sm-12 col-lg-6 p-5">
          <p class="h3 text-center text6 mt-3">Advantages</p>
          <br />
          <p style="text-align: justify">
            In this app you can create, modify, delete your transactions without any problem and interactively, always at your fingertips
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
