@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="text-center" style="margin-top: 50px">
    <h1 class="display-4 ">Welcome to Economic Management</h1>
  </div>
  <div style="margin-top: 70px" class="row d-flex align-items-center">
    <br />
    <div class="row d-flex align-items-center my-3">
      <div class="col-sm-12 col-lg-6 p-5">
        <p class="h3 text-center mt-3">
          Let's talk a little about the Economic Management APP
        </p>
        <br />
        <p style="text-align: justify">
           The app where you can keep track of your finances, through this application you can record your income and periodic expenses,
           it also allows you to have all your accounts, cards and investments in one place so you can control your expenses, with the purpose to improve your finances.
        </p>
      </div>
      <div class="col-sm-12 col-lg-6 p-5">
        <img src="~/img/img2.png" width="100%" />
      </div>
      <div class="row d-flex align-items-center my-3">
        <div class="col-sm-12 col-lg-6 p-5">
          <img src="~/img/img3.png" width="100%" />
        </div>
        <div class="col-sm-12 col-lg-6 p-5">
          <p class="h3 text-center text6 mt-3">Advantages</p>
          <br />
          <p style="text-align: justify">
            In this app you can create, modify, delete your transactions and manage your money in an intelligent way without any problem interactively, 
            always at your fingertips. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
